.navbar {
  min-height: 50px;
}

.navbar-brand {
  font-size: 30px;
}

.navbar-nav > li > a {
  font-size: 20px;
  margin-left: 10px;
  margin-right: 10px;
}

g-body {
  background-image: url('https://cdn.pixabay.com/photo/2015/06/25/16/51/highway-821487_960_720.jpg');
}

t-html, t-body {
  height: 100%;
}

.test {
  height: 100%;
  background: url('../../../images/logistics.jpg');
}

.est {
  background: url('../../../images/logistics.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}
